<div class="col-10 offset-1 about">
<h1>About Splurty</h1>

<p>
  Splurty was built by <a target="_blank" href="http://github.com/Marsha331">Marsha</a>, a new web developer and mom to 4 kiddos who is on a mission to get all parents to laugh at themselves while on this crazy parenthood trip.
  </p>
  <br />
  <p>
  If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'MarshaS.jpg', class: 'img-fluid' %>
    </div>

   <div class="col-12 col-sm-7 offset-sm-1">
   <h2 class="text-center">Marsha Swallow</h2>
   <br />
   <p>
   Marsha Swallow is a web developer. She stayed home with her four children for 16 years and is now getting out into the work force. She started learning to program in 2015 with Java for Android and is now moving on to learn full stack web development with the Firehose Project. 
   </p>
   </div>
   </div>
   </div>
   <br class="clear" /> 
   <br />
   <br />
   <br />
   <br />


